/* index.css */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Cambia height a min-height para permitir más contenido */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambia a flex-start para alinear el contenido desde la parte superior */
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    background-color: #0b0d12; /* Color de fondo oscuro como respaldo */
    background-image: linear-gradient(to bottom, #0a1f36, #0b0d12); /* Gradiente azul a negro */
}

/* Estilos para el tema oscuro */
body.dark {
    color: white; /* Color de texto blanco */
}

/* Estilos para el tema claro */
body.light {
    background-color: #f7f9fc; /* Fondo blanco suave */
    color: #333; /* Color de texto oscuro */
}

/* Estilos adicionales según sea necesario */
