/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 50px; /* Espaciado a los lados */
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    background: transparent; /* Sin fondo */
    box-shadow: none; /* Eliminar sombras */
    transition: background-color 0.3s ease; /* Suavizar el cambio de fondo */
}

/* Estilo para el modo oscuro */
.navbar--dark {
    background-color: transparent; /* Mantener fondo transparente en modo oscuro */
    color: #ffffff; /* Color de texto en modo oscuro */
}


/* Contenedor para los controles (solo el switch) */
.navbar-controls {
    display: flex; /* Usar flex para alinear horizontalmente */
    align-items: center; /* Alinear verticalmente */
    gap: 20px; /* Espaciado entre controles */
    margin-left: auto; /* Empujar el contenedor a la derecha */
}

/* Estilos para los elementos del navbar */
.navbar .nav-item {
    color: inherit; /* Color de texto por defecto que hereda según el tema */
}

/* Estilos para el Dropdown */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: inherit; /* Color de texto del botón de dropdown según el tema */
}

.dropdown-menu {
    background-color: white; /* Color de fondo del dropdown */
    color: #333; /* Color del texto */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 0.5rem; /* Espaciado superior */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.dropdown-item {
    padding: 10px 20px; /* Espaciado dentro de cada ítem */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el ítem */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Color de fondo al pasar el mouse */
}

/* Logo */
.logo-container {
    transition: transform 0.3s ease; /* Transición suave */
}

.logo-container:hover {
    transform: scale(1.1) rotate(5deg); /* Aumenta y rota el logo */
}

.logo {
    height: 100px; /* Ajusta según tus necesidades */
    width: auto; /* Mantiene la proporción */
}
