/* Contenedor para los controles (solo el switch) */
.navbar-controls {
    display: flex; /* Usar flex para alinear horizontalmente */
    align-items: center; /* Alinear verticalmente */
    gap: 100px; /* Espaciado entre controles */
    margin-left: 1100px; /* Empujar el contenedor a la derecha */
    margin-top: 30px;
}

/* Estilos para el Dropdown */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.dropdown-menu {
    background-color: white; /* Color de fondo del dropdown */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 0.5rem; /* Espaciado superior */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.dropdown-item {
    padding: 10px 20px; /* Espaciado dentro de cada ítem */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el ítem */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Color de fondo al pasar el mouse */
}

/* navbar.css */
.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 50px; /* Añade 20px de padding a la izquierda y derecha */
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo-container {
    transition: transform 0.3s ease; /* Transición suave */
}

.logo-container:hover {
    transform: scale(1.1) rotate(5deg); /* Aumenta y rota el logo */
}

.logo {
    height: 100px; /* Ajusta según tus necesidades */
    width: auto; /* Mantiene la proporción */
}
