/* Grupo general */
.group {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem; /* Margen inferior ajustado */
  }
  img {
    max-width: 90%;
    height: auto;
  }
  /* Estilos del input */
  .input {
    width: 100%;
    padding-left: 3rem; /* Ajustado para acomodar el ícono */
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: 0.5s ease;
  }
  
  /* Placeholder del input */
  .input::placeholder {
    color: #94a3b8;
  }
  
  /* Efecto hover y focus */
  .input:focus, .input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgba(129, 140, 248, 0.3);
  }
  
  /* Estilos del ícono */
  .icon {
    position: absolute;
    left: 0.75rem;
    font-size: 1.5rem; /* Tamaño ajustado del ícono */
    color: #94a3b8;
  
    /* Centrando el ícono verticalmente */
    top: 50%;
    transform: translateY(-50%);
  }
  .custom-img {
    max-width: 350px; /* Controla el tamaño de la imagen */
    border-radius: 10px; /* Aplica bordes redondeados */
    position: relative; /* Asegura que esté en la posición correcta */
    bottom: 0;
    left: 0; /* Cambiado de right: 0; a left: 0; */
    transition: transform 0.3s ease; /* Transición suave para el zoom */
}

.custom-img:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% al pasar el mouse */
}